:host {
    display: block;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

mat-form-field {
    width: 100%;
}

mat-icon.exchange-icon {
    align-self: center;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
}
