mat-drawer-container {
    height: 100%;
}

main {
    padding: 1rem;
}

[mat-subheader] {
    position: sticky;
    top: 0;
}

mat-accordion,
app-bgn-euro-calculator {
    margin-bottom: 1rem;
}

mat-accordion mat-icon {
    padding-right: 0.5rem;
}
