mat-drawer-container {
    height: 100%;
}

mat-toolbar {
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);
}

main {
    padding: 1rem;
}

mat-accordion,
app-bgn-euro-calculator {
    margin-bottom: 1rem;
}

mat-accordion mat-icon {
    padding-right: 0.5rem;
}
